@import url('https://googleapis.com');
/* Apply a default font and reset margins for the whole page */
body {
    font-family: Cambria, Georgia, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 18px;
    color: #d2ccf5;
}

/* Style the top header bar */
header {
    background-color: #181d25; /* Dark gray */
    font-family: 'Shizuru', sans-serif;
    font-weight: 600;
    color: #d2ccf5; /* purple */
    padding: 20px;
    text-align: center;
}

header a {
    font-family: Cambria, Georgia, serif;
    color: #d2ccf5; /* purple links */
    text-decoration: none;
    font-weight: bold;
}

/* Style ALL sections with consistent spacing */
section {
    background-color: #181d25;
    color: white;
    padding: 60px 20px; /* 60px top/bottom padding creates vertical space */
    max-width: 800px;
    margin: 0 auto; /* Centers the content box on the screen */
}



/* Style the bottom footer bar */
footer {
    background-color: #06080c; /* DARK Dark gray */
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px; /* Pushes the footer away from the content above it */
}
