@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Shizuru&family=Yuji+Boku&display=swap');

header {
    position:fixed;
    top: 0;                      /* Anchors it to the very top edge */
    left: 0;                     /* Anchors it to the very left edge */
    width: 100%;                 /* Forces it to stretch all the way across */
    box-sizing: border-box; 
    background-color: #021921;
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 0px 20px;  
}

body {
  margin-top: 150px; }

nav a {
    color: #9ff6ff; 
    text-decoration: none; 
    font-family: 'Shizuru', sans-serif; 
    font-size: 30px;
    padding: 10px 20px; 
    margin: 0 5px;
    margin-left: 25px;             
    text-decoration: none;  
    display: inline-block;
    transition: all 0.3s ease; 
    text-align: right;
}

nav a:hover {
    color: #b9ffc0; 
    text-shadow: 0 0 10px #ffffff; /* glow effect*/
}

html, body {
    background-color: #021921;
    font-family: Cambria, Georgia, serif;
    margin-top: 100px
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 18px;
    color: white;
    text-align: center;
}

/* Style the top header bar */
h1 {
    font-family: 'Shizuru', sans-serif;
    font-size: 40px;
    color: #b9ffc0; 
    padding: 20px;
}


h2 {
    font-family: 'Shizuru', sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #9ff6ff; /* purple #d2ccf5 #a59bf2*/
    padding: 20px;
}

/* Style ALL sections with consistent spacing */
section {
    padding: 60px 20px; /* 60px top/bottom padding creates vertical space */
    max-width: 800px;
    margin: 05px; 
    text-align: center;
}

#about, #research, #arts, #contact {
    background-color: transparent; /* Makes sections inherit the main body color */
}
/* Style the bottom footer bar */
footer {
    background-color: #021921; 
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto; 
    width: 100%
}

/* Ensure all webpage photos scale down nicely on phones and screens */
.page-photo {
    max-width: 70%; /* Prevents the image from being wider than its container */
    height: auto;    /* Maintains the original aspect ratio so it doesn't stretch */
    display: block;
    margin: 20px auto; /* Centers the image horizontally with spacing around it */
    border-radius: 8px; /* Smooths down the sharp corners */
    box-shadow: 0 4px 15px rgba(210, 204, 245, 0.2); /* Soft purple layout glow */
}
